.icon {
  display: block;
  width: 24px;
  height: 24px;
}

.icon--phone {
  background-image: url(../images/icon/phone-number.png);
}

.icon--menu {
  background-image: url(../images/icon/icon-burger-menu.png);
}

.icon--close {
  background-image: url(../images/icon/icon-close.png);
}
